// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fortawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";



// class color setting
.blue {
  color: $blue;
}
.indigo {
  color: $indigo;
}
.purple {
  color : $purple;
}
.pink {
  color: $pink;
}
.red {
  color: $red;
}
.orange {
  color: $orange;
}
.orangered{
  color: orangered;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}
.teal { 
  color: $teal;
}
.cyan {
  color: $cyan;
}